.playOverview_startText,
.playOverview_pauseText {
  text-align: center;
  font-size: 200px;
  color: rgba(255,255,255,0.5);
  font-weight: 600;
  letter-spacing: 20px;
}

.playOverview_startText {
  margin-top: 240px;
  margin-left: 60px;
}

.playOverview_pauseText {
  margin-top: 250px;
  margin-left: -22px;
}

.playOverview_startSubText,
.playOverview_pauseSubText {
  text-align: center;
  font-size: 20px;
  color: white;
  font-weight: 600;
}

.playOverview_startSubText {
  margin-top: 30px;
}

.playOverview_pauseSubText {
  margin-top: 20px;
}

.playOverview_cowntdownText {
  position: absolute;
  top: 300px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 100px;
  color: rgba(255,255,255,0.8);
  font-weight: 600;
}

.playOverview_cowntdownText.is-first::after {
  content: '3';
  animation: countDownAnimation 0.5s linear 0s 1 normal forwards running;
  opacity: 0;
}

.playOverview_cowntdownText.is-second::after {
  content: '2';
  animation: countDownAnimation 0.5s linear 0.5s 1 normal forwards running;
  opacity: 0;
}

.playOverview_cowntdownText.is-third::after {
  content: '1';
  animation: countDownAnimation 0.5s linear 1s 1 normal forwards running;
  opacity: 0;
}

@keyframes countDownAnimation {
  0% {
    opacity: 1;
  }
  10% {
  }
  40% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.playOverview_contentsContainer {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  animation: 0.3s ease-out 0s 1 normal forwards running resultContentsAnim;
  transform-origin: 0% 0%
}

@keyframes resultContentsAnim {
  0% {
    transform: scale(0.7) translateX(-50%) translateY(-50%);
  }

  100% {
    transform: scale(1) translateX(-50%) translateY(-50%);
  }
}

.playOverview_back {
  width: 440px;
  height: 440px;
  position: absolute;
  top: -70px;
  left: -70px;
  transform: rotate(45deg);
  background-color: white;
  filter: drop-shadow(0 0 30px white);
}

.playOverview_backInner {
  width: 420px;
  height: 420px;
  position: absolute;
  top: -60px;
  left: -60px;
  transform: rotate(45deg);
  background-color: var(--color-elm-darkblue);
}

.playOverview_titleText {
  position: absolute;
  top: -60px;
  width: 300px;
  text-align: center;
  color: white;
  font-size: 28px;
  font-weight: 600;
  text-shadow: 0 0 3px white;
}

.playOverview_bigText {
  position: relative;
  text-align: center;
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}

.playOverview_smallText {
  position: relative;
  text-align: center;
  color: white;
  font-size: 12px;
  margin-bottom: 8px;
}

.playOverviewResultItem_container {
  width: 300px;
  height: 100px;
  margin-top: 10px;
  margin-left: -20px;
  position: relative;
  text-align: end;
}

.playOverviewResultItem_box {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 70px;
  height: 70px;
  background-color: white;
  filter: drop-shadow(0 0 5px white);
  transform: rotate(45deg);
}

.playOverviewResultItem_labelText {
  position: absolute;
  top: 22px;
  left: 0;
  width: 99px;
  text-align: center;
  color: black;
  font-size: 12px;
  font-weight: 600;
}

.playOverviewResultItem_rankText {
  position: absolute;
  top: 40px;
  left: 2px;
  width: 99px;
  text-align: center;
  color: black;
  font-size: 32px;
  font-family: "fortunaDot";
}

.playOverviewResultItem_effectText {
  position: absolute;
  top: 50px;
  right: 10px;
  color: var(--color-elm-orange);
  font-size: 14px;
  font-weight: 600;
  text-shadow: 0 0 2px var(--color-elm-orange);
}

.playOverviewResultItem_textContainer {
  position: absolute;
  top: 65px;
  right: 10px;
}

.playOverviewResultItem_resultText {
  color: white;
  font-size: 24px;
  font-weight: 600;
  text-shadow: 0 0 3px white;
  font-family: "droidSansMono";
}

.playOverviewResultItem_maxText {
  color: white;
  font-size: 16px;
  font-family: "droidSansMono";
}

.playOverviewResultItem_line {
  position: absolute;
  top: 99px;
  left: 50px;
  width: 250px;
  height: 1px;
  background-color: white;
}

.playOverviewResultItem_tweetIcon {
  position: absolute;
  top: -5px;
  left: 85px;
  width: 20px;
  height: 20px;
}

.playOverviewResultItem_tweetBtn {
  position: absolute;
  top: 320px;
  width: 300px;
  text-align: center;
  color: white;
  font-size: 14px;
  cursor: pointer;
  text-decoration: underline;
}

.playOverviewResultItem_tweetBtn:hover {
  color: var(--color-elm-lightblue);
}

.playOverviewResultItem_backBtn {
  position: absolute;
  top: 350px;
  width: 300px;
  text-align: center;
  color: white;
  font-size: 14px;
  cursor: pointer;
  text-decoration: underline;
}

.playOverviewResultItem_backBtn:hover {
  color: var(--color-elm-lightblue);
}