.home_bottomRightArea {
  width: 0;
  height: 0;
  border-top: solid transparent 130px;
  border-right: solid var(--color-elm-orange-w1) 130px;
  border-bottom: solid transparent 130px;
  border-left: solid transparent 130px;
  position: absolute;
  bottom: 18px;
  right: 18px;
  filter: drop-shadow(0 0 10px var(--color-elm-orange));
  cursor: pointer;
}

.home_bottomRightArea:hover {
  border-right: solid var(--color-elm-orange) 130px;
}

.homeBottomRight_playText {
  position: absolute;
  top: -18px;
  left: -10px;
  width: 180px;
  color: white;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  pointer-events: none;
}

.homeBottomRight_transparentCover1 {
  width: 460px;
  height: 460px;
  background-color: transparent;
  transform: rotate(45deg);
  position: absolute;
  top: 384px;
  left: 38px;
}

.homeBottomRight_transparentCover2 {
  width: 240px;
  height: 240px;
  background-color: transparent;
  transform: rotate(45deg);
  position: absolute;
  top: 170px;
  left: 304px;
}

.home_bottomRightArea.playAnim {
  animation: .4s ease-out 0s 1 normal forwards running bottomRightAreaAnim;
}

@keyframes bottomRightAreaAnim {
  0% {
    transform: translateX(-50px) translateY(-50px);
  }

  100% {
    transform: translateX(0px) translateY(0px);
  }
}