.homeModeSelectTab_container {
  height: 20px;
  border-bottom: solid 1px white;
}

.homeModeSelectTab_item {
  display: inline-block;
  vertical-align: top;
  width: 132px;
  height: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  line-height: 20px;
  text-align: center;
  color: black;
  font-size: 14px;
  cursor: pointer;
  transition: 0.1s;
}

.homeModeSelectTab_item.is-selecting {
  background-color: var(--color-elm-orange);
  color: white;
  font-weight: 600;
  width: 134px;
}

.homeModeSelectTab_item:hover {
  background-color: var(--color-elm-orange-w1);
}