.home_topRightArea {
  width: 0;
  height: 0;
  border-top: solid var(--color-elm-lightblue-w1) 130px;
  border-right: solid var(--color-elm-lightblue-w1) 130px;
  border-bottom: solid transparent 130px;
  border-left: solid transparent 130px;
  position: absolute;
  top: 18px;
  right: 18px;
  filter: drop-shadow(0 0 10px var(--color-elm-lightblue));
}

.homeTopRight_title {
  position: absolute;
  top: -120px;
  right: -120px;
  width: 240px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-align: end;
}

.homeTopRight_userNameText {
  position: absolute;
  color: white;
  text-align: end;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.homeTopRight_userNameText.is-me {
  color: var(--color-elm-darkblue);
}

.homeTopRight_scoreText {
  position: absolute;
  color: white;
  text-align: end;
  font-family: "droidSansMono";
}

.homeTopRight_noDataText {
  position: absolute;
  color: white;
  text-align: end;
  font-family: "droidSansMono";
}

.homeTopRight_line {
  position: absolute;
  height: 1px;
  background-color: white;
  right: -120px;
}

.homeTopRight_rankIcon.first {
  position: absolute;
  top: -82px;
  right: 18px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.homeTopRight_rankIcon.first.user {
  right: -120px;
}

.homeTopRight_userNameText.first {
  top: -82px;
  right: -86px;
  width: 102px;
  font-size: 12px;
}

.homeTopRight_scoreText.first {
  top: -70px;
  right: -86px;
  font-size: 18px;
}

.homeTopRight_noDataText.first {
  top: -70px;
  right: -120px;
  font-size: 18px;
}

.homeTopRight_line.first {
  top: -46px;
  width: 154px;
}

.homeTopRight_rankIcon.second {
  position: absolute;
  top: -34px;
  right: -19px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.homeTopRight_rankIcon.second.user {
  right: -120px;
}

.homeTopRight_userNameText.second {
  top: -34px;
  right: -92px;
  width: 72px;
  font-size: 11px;
}

.homeTopRight_scoreText.second {
  top: -24px;
  right: -92px;
  font-size: 14px;
}

.homeTopRight_noDataText.second {
  top: -24px;
  right: -120px;
  font-size: 14px;
}

.homeTopRight_line.second {
  top: -5px;
  width: 114px;
}

.homeTopRight_rankIcon.third {
  position: absolute;
  top: 6px;
  right: -50px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

.homeTopRight_rankIcon.third.user {
  right: -120px;
}

.homeTopRight_userNameText.third {
  top: 5px;
  right: -98px;
  width: 48px;
  font-size: 10px;
}

.homeTopRight_scoreText.third {
  top: 15px;
  right: -98px;
  font-size: 11px;
}

.homeTopRight_noDataText.third {
  top: 15px;
  right: -120px;
  font-size: 11px;
}

.homeTopRight_line.third {
  top: 31px;
  width: 80px;
}

.home_topRightArea.playAnim {
  animation: .4s ease-out 0s 1 normal forwards running topRightAreaAnim;
}

@keyframes topRightAreaAnim {
  0% {
    top: 68px;
    right: 68px;
  }

  100% {
    top: 18px;
    right: 18px;
  }
}
