/* -------------------------------
  全体
------------------------------- */
.home_contentsContainer {
  width: 100%;
  height: 100%;
  background-image: url("../../public/img/home_back.png");
  background-size: cover;
  white-space: nowrap;
  position: relative;
}

/* -------------------------------
  左側
------------------------------- */
.home_leftContentsContainer {
  display: inline-block;
  width: 400px;
  height: 100%;
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  border-right: solid 4px white;
  box-sizing: border-box;
  box-shadow: 0 0 20px 5px #fff;
}

.home_leftContents {
  height: 600px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding: 18px 0;
  box-sizing: border-box;
}

/* -------------------------------
  右側
------------------------------- */
.home_rightContentsContainer {
  display: inline-block;
  width: calc(100vw - 400px);
  min-width: 600px;
  height: 100%;
  position: relative;
}

.home_rightContents {
  width: 600px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/* -------------------------------
  OverView
------------------------------- */
.home_overview {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(20,20,40,0.7);
  cursor: default;
  z-index: 100;
}

.homeOverview_container {
  width: 1000px;
  height: 700px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  box-sizing: border-box;
  padding: 200px 300px;
  cursor: default;
}