/* -------------------------------
  全体
------------------------------- */
.home_contentsContainer {
  width: 100%;
  height: 100%;
  background-image: url("../../public/img/home_back.png");
  background-size: cover;
  white-space: nowrap;
  position: relative;
}

.home_contents {
  width: 1000px;
  height: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

/* -------------------------------
  左側
------------------------------- */
.home_leftContents {
  display: inline-block;
  width: 400px;
  height: 564px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  border: solid 1px white;
  box-shadow: 0 0 20px 5px #fff;
  box-sizing: border-box;
  margin-top: 68px;
}

/* -------------------------------
  右側
------------------------------- */
.home_rightContents {
  display: inline-block;
  width: 600px;
  height: 600px;
  position: relative;
  margin-top: 50px;
  vertical-align: top;
}

/* -------------------------------
  OverView
------------------------------- */
.home_overview {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(20,20,40,0.7);
  cursor: default;
  z-index: 100;
}

.homeOverview_container {
  width: 1000px;
  height: 700px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  box-sizing: border-box;
  padding: 200px 300px;
  cursor: default;
}