/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

body, html {
  margin: 0;
  width: 100%;
  height: 100%;
  cursor: default;
  font-family: "makinas";
  --color-elm-green: #8CD636;
  --color-elm-lightblue: #5FB4CB;
  --color-elm-orange: #EEA41D;
  --color-elm-darkblue: #586176;
  --color-elm-green-w1: #c5ea9a;
  --color-elm-lightblue-w1: #93ccdc;
  --color-elm-orange-w1: #f6d18e;
  --color-elm-darkblue-w1: #8f95a3;
}

div, span, button, a, img {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  outline: none;
  cursor: default;
  font-family: "makinas";
}

/* -------------------------- */

/* 共通 */
@import url("./css/common.css");
/* タイトル画面 */
@import url("./css/title.css");
@import url("./css/title/audioAttention.css");
@import url("./css/title/titleArea.css");
@import url("./css/title/overview.css");
@import url("./css/title/backGroundEffect.css");
/* ホーム画面 */
@import url("./css/home.css");
@import url("./css/home/userSetting.css");
@import url("./css/home/modeSelectTab.css");
@import url("./css/home/musicList.css");
@import url("./css/home/centerArea.css");
@import url("./css/home/topLeftArea.css");
@import url("./css/home/topRightArea.css");
@import url("./css/home/bottomLeftArea.css");
@import url("./css/home/bottomRightArea.css");
/* プレイ画面 */
@import url("./css/play.css");
@import url("./css/play/centerLine.css");
@import url("./css/play/lane.css");
@import url("./css/play/note.css");
@import url("./css/play/judgeEffect.css");
@import url("./css/play/displayArea.css");
@import url("./css/play/overview.css");
/* エラー画面 */
@import url("./css/error.css");

/* -------------------------- */

/* メインフォント */
@font-face {
	font-family: "makinas";
  src: url("../public/fonts/Makinas.otf") format('opentype');
}

/* ランク */
@font-face {
	font-family: "fortunaDot";
  src: url("../public/fonts/FortunaDot.ttf") format('truetype');
}

/* 等幅数字 */
@font-face {
	font-family: "droidSansMono";
  src: url("../public/fonts/DroidSansMono.ttf") format('truetype');
}